/* General container styling */
.map-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  height: 90vh;
  box-sizing: border-box;
  position: relative;
}

/* Top section */
.map-top {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Search box styling */
.map-top-search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  justify-content: flex-start;
  width: 100%;
}

.map-top-search-box span {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

/* Icon styling */
.blue-dot, .red-pin, .switch-icon, .back-icon{
  width: 20px;
  height: 20px;
}

/* Dropdown styling */
.map-top-dropdown {
  position: fixed;
  top: 110px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  background-color: rgba(255, 255, 255, 0.98);
  border-top: 1px solid #ccc;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.map-top-dropdown input {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.map-top-dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
  cursor: pointer;
}

.map-top-dropdown-item:hover {
  background-color: #f8f8f8;
}

/* Map container */
.map {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.map-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.campus-map {
  width: 100%;
  height: 100%;
  position: absolute; 
  object-fit: cover;
}

.map-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}


/* Responsive adjustments */
@media (max-width: 428px) {
  .search-box {
      padding: 8px;
      font-size: 0.9rem;
  }
  .search-icon {
      width: 18px;
      height: 18px;
  }
  .switch-icon {
      width: 25px;
      height: 25px;
  }
  .map-top-dropdown-item {
      padding: 8px;
  }
}